@media (max-width: 767px) {

    /* Header */
    .header {
        display: block;
    }
    .logo {
        text-align: center;
    }
    .nav-bar {
        float: right;
        padding-top: 30px;
    }
    #nav-bar-item  {
        display: none;
        /* display: block; */
        text-align: center;
        background: #d1d1e0;
        /* width: 200px; */
        padding: 5px 10px;
        margin-top: 10px;
    }
    #nav-bar-item li {
        display: block;
    }
    #nav-bar-item a {
        color: #000;
        display: block;
    }
    
    .toggle {
        display: block !important;
        position: absolute;
        right: 30px;
        top: 90px;
        padding: 5px;
    }
    .nav-bar li {
        padding-left: 0 !important;
    }
    /* Content */
    .blog-items {
        max-width: 100%;
        display: block;
    }
    .main-title h2 {
        padding: 10px 0;
    }
    .leave-comment {
        padding-top: 20px;
    }
    .blog-items {
        padding-top: 30px;
    }
    .images-item img {
        width: 100%;
        padding-bottom: 10px;
    }
    /* Footer */
    .footer-content {
        display: block;
        text-align: center;
    }
    .link-contact {
        display: block;
    }
    .icons-contact {
        padding-top: 20px;
    }

}